h1 {
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

p {
    color: white;
}

img {
    border: 5px solid white;
    width: 100%;
}

div {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 100px;
}

* {
    background-color: black;
}